header{
    background-color: rgba(28, 92, 224, 0);
    position: relative;
    left: 0;
    top: 0;
    width: 100%;

    /*padding-bottom: 10px;*/
    /*height: 100px;*/
}

.hotsim{
    color: #ffffff;
    font-size: 50px;
    padding-top: 70px
}