.body{
    background-image: url("indir.jpg");
    /*background-color: #cccccc;*/
    font-family: 'Ubuntu', sans-serif;
    background-position: center; /* Center the image */
    background-repeat: no-repeat; /* Do not repeat the image */
    background-size: cover; /* Resize the background image to cover the entire container */
}

.login{
    background-color: #FFFFFF;
    width: 600px;
    height: 400px;
    margin: 9em auto;
    border-radius: 1.5em;
    box-shadow: 0px 11px 35px 2px rgba(0, 0, 0, 0.14);
}

.signmsg {
    padding-top: 40px;
    color: #2d5cb4;
    font-family: 'Ubuntu', sans-serif;
    font-weight: bold;
    font-size: 23px;
}

form.form1 {
    padding-top: 40px;
}

.newAccount {
    text-shadow: 0px 0px 3px rgba(117, 117, 117, 0.12);
    color: blue; /*yazının rengi*/
    padding-top: 10px;
}

.blackText{
    padding-top: 15px;
    color: black;
}

.e-input-eye:before {
    background-size: cover;
    background-position: center;
    content: url("show-password.svg");
    font-family: e-icons;
    font-size: 13px;
}
